/**
* ===========================================================
* styles.css -- Global styles for the MyRWD website
* ===========================================================
*
* Created November 11, 2014
*
* Authored by David Rivas
*
*/
/*----- Basic Styling -----*/
body{
  background-color: lightblue;
}
#page-wrapper{
  background-color: white;
  margin: 0 auto;
  max-width: 960px;
}
#content{
  background-color: #f7f2da;
  padding: 0 1em 1em 0;
  margin: 0 0 10px 0;
  float: left;
  width: 625px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
nav{
  background-color: gray;
  margin: 0;
  padding: 0;
}
nav ul{
  padding: 3px 10px ;
  list-style-type: none;
}
footer{
  clear: both;  
}

/* ----- Ad Styling ----- */
#sidebar{
  width: 160px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
.wide-skyscaper-ad{
  width: 160px;
  height: 600px;
  background-color: silver;
}

/* ----- Three-Column Fixed Layout ----- */
#page-wrapper{
  width: 960px;
}
nav{
  float: left;
  width: 175px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}
#sidebar{
  width: 160px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
